
  <div>
	<%= link_to "Create a new user", new_user_path, :class => "button", :id => "padded" %>
  </div> 
  
  <div class="more_space">
	<%= link_to "Pick Date", meetingdates_new_path, :class => "button" %>
  </div>







