// Place all the styles related to the time controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#padded {
	margin-left: 600px;
    margin-right: auto;
    margin-top: 200px;  
}

.date {
	margin_top: 60px;
	margin-right: 400px;
	margin-left: 400px; 
}

.more_space {
	margin-bottom: 50px;
	margin-left: 580px;
}